source https://api.nuget.org/v3/index.json

storage: none
framework: netstandard2.0

nuget FSharp.Core >= 4.7.2
nuget System.Text.Json ~> 5.0.1
nuget FSharp.SystemTextJson ~> 0.15.14
nuget FSharpSpreadsheetML ~> 0.0.3

nuget Expecto
nuget Expecto.BenchmarkDotNet
nuget Expecto.FsCheck
